{{yield}}
<article class="rental">
    <Rental::Image src={{@rental.image}} alt="En bild på {{@rental.title}}" />
    <div class="details">
        <h3>{{@rental.title}}</h3>
        <div class="detail type">
            <span>Typ av kök:</span> {{@rental.type}}
        </div>
        <div class="detail location">
            <span>Stad:</span> {{@rental.city}}
        </div>
        <div class="detail bedrooms">
            <span>År av erfarenhet:</span> {{@rental.years}}
        </div>
    </div>
</article>